/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

a{
  text-decoration: none;
}*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 通栏容器 */
.container-fluid {
  /* padding-right: 10px;
  padding-left: 10px; */
  margin-right: auto;
  margin-left: auto;
}

.container {
  /* padding-right: 10px;
  padding-left: 10px; */
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/*
.hidden-xs-only
.hidden-sm-and-down
.hidden-sm-only
.hidden-sm-and-up
.hidden-md-and-down
.hidden-md-only
.hidden-md-and-up
.hidden-lg-and-down
.hidden-lg-only
.hidden-lg-and-up
.hidden-xl-only

*/
/* xs */

.hidden-sm-only,
.hidden-sm-and-up,
.hidden-md-only,
.hidden-md-and-up,
.hidden-lg-only,
.hidden-lg-and-up,
.hidden-xl-only {
  display: block;
}

.hidden-xs-only,
.hidden-sm-and-down,
.hidden-md-and-down,
.hidden-lg-and-down {
  display: none;
}

/* sm */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .hidden-xs-only,
  .hidden-md-only,
  .hidden-md-and-up,
  .hidden-lg-only,
  .hidden-lg-and-up,
  .hidden-xl-only {
    display: block;
  }

  .hidden-sm-only,
  .hidden-sm-and-down,
  .hidden-sm-and-up,
  .hidden-md-and-down,
  .hidden-lg-and-down {
    display: none;
  }
}

/* md */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .hidden-xs-only,
  .hidden-sm-only,
  .hidden-sm-and-down,
  .hidden-lg-only,
  .hidden-lg-and-up,
  .hidden-xl-only {
    display: block;
  }

  .hidden-sm-and-up,
  .hidden-md-only,
  .hidden-md-and-down,
  .hidden-md-and-up,
  .hidden-lg-and-down {
    display: none;
  }
}

/* lg */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .hidden-xs-only,
  .hidden-sm-only,
  .hidden-sm-and-down,
  .hidden-md-and-down,
  .hidden-md-only,
  .hidden-xl-only {
    display: block;
  }

  .hidden-sm-and-up,
  .hidden-md-and-up,
  .hidden-lg-only,
  .hidden-lg-and-down,
  .hidden-lg-and-up {
    display: none;
  }
}

/* xl */
@media (min-width: 1920px) {
  .container {
    max-width: 1900px;
  }

  .hidden-xs-only,
  .hidden-sm-only,
  .hidden-sm-and-down,
  .hidden-md-and-down,
  .hidden-md-only,
  .hidden-lg-and-down,
  .hidden-lg-only {
    display: block;
  }

  .hidden-sm-and-up,
  .hidden-md-and-up,
  .hidden-lg-and-up,
  .hidden-xl-only {
    display: none;
  }
}

.row {
  /* margin-right: -10px;
  margin-left: -10px; */
}

.row::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  clear: both;
}

/* 公公样式 */
.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0,
.col-xl-0,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xl-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xl-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xl-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xl-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xl-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xl-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xl-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xl-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xl-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xl-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xl-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xl-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xl-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xl-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xl-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xl-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xl-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xl-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xl-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xl-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xl-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xl-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24
.col-xl-24{
  position: relative;
  min-height: 1px;
  /* padding-right: 10px;
  padding-left    : 10px; */
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}

/* xs */
.col-xs-0 {
  width: 0;
}

.col-xs-1 {
  width: 4.16666666%;
}

.col-xs-2 {
  width: 8.33333333%;
}

.col-xs-3 {
  width: 12.5%;
}

.col-xs-4 {
  width: 16.66666666%;
}

.col-xs-5 {
  width: 20.83333333%;
}

.col-xs-6 {
  width: 25%;
}

.col-xs-7 {
  width: 29.16666666%;
}

.col-xs-8 {
  width: 33.33333333%;
}

.col-xs-9 {
  width: 37.5%;
}

.col-xs-10 {
  width: 41.66666666%;
}

.col-xs-11 {
  width: 45.83333333%;
}

.col-xs-12 {
  width: 50%;
}

.col-xs-13 {
  width: 54.16666666%;
}

.col-xs-14 {
  width: 58.33333333%;
}

.col-xs-15 {
  width: 62.5%;
}

.col-xs-16 {
  width: 66.66666666%;
}

.col-xs-17 {
  width: 70.83333333%;
}

.col-xs-18 {
  width: 75%;
}

.col-xs-19 {
  width: 79.16666666%;
}

.col-xs-20 {
  width: 83.33333333%;
}

.col-xs-21 {
  width: 87.5%;
}

.col-xs-22 {
  width: 91.66666666%;
}

.col-xs-23 {
  width: 95.83333333%;
}

.col-xs-24 {
  width: 100%;
}

/* 向左偏移 */


.col-xs-pull-1 {
  right: 4.16666666%;
}

.col-xs-pull-2 {
  right: 8.33333333%;
}

.col-xs-pull-3 {
  right: 12.5%;
}

.col-xs-pull-4 {
  right: 16.66666666%;
}

.col-xs-pull-5 {
  right: 20.83333333%;
}

.col-xs-pull-6 {
  right: 25%;
}

.col-xs-pull-7 {
  right: 29.16666666%;
}

.col-xs-pull-8 {
  right: 33.33333333%;
}

.col-xs-pull-9 {
  right: 37.5%;
}

.col-xs-pull-10 {
  right: 41.66666666%;
}

.col-xs-pull-11 {
  right: 45.83333333%;
}

.col-xs-pull-12 {
  right: 50%;
}

.col-xs-pull-13 {
  right: 54.16666666%;
}

.col-xs-pull-14 {
  right: 58.33333333%;
}

.col-xs-pull-15 {
  right: 62.5%;
}

.col-xs-pull-16 {
  right: 66.66666666%;
}

.col-xs-pull-17 {
  right: 70.83333333%;
}

.col-xs-pull-18 {
  right: 75%;
}

.col-xs-pull-19 {
  right: 79.16666666%;
}

.col-xs-pull-20 {
  right: 83.33333333%;
}

.col-xs-pull-21 {
  right: 87.5%;
}

.col-xs-pull-22 {
  right: 91.66666666%;
}

.col-xs-pull-23 {
  right: 95.83333333%;
}

.col-xs-pull-24 {
  right: 100%;
}

/* 向右偏移 */


.col-xs-push-1 {
  right: 4.16666666%;
}

.col-xs-push-2 {
  right: 8.33333333%;
}

.col-xs-push-3 {
  right: 12.5%;
}

.col-xs-push-4 {
  right: 16.66666666%;
}

.col-xs-push-5 {
  right: 20.83333333%;
}

.col-xs-push-6 {
  right: 25%;
}

.col-xs-push-7 {
  right: 29.16666666%;
}

.col-xs-push-8 {
  right: 33.33333333%;
}

.col-xs-push-9 {
  right: 37.5%;
}

.col-xs-push-10 {
  right: 41.66666666%;
}

.col-xs-push-11 {
  right: 45.83333333%;
}

.col-xs-push-12 {
  right: 50%;
}

.col-xs-push-13 {
  right: 54.16666666%;
}

.col-xs-push-14 {
  right: 58.33333333%;
}

.col-xs-push-15 {
  right: 62.5%;
}

.col-xs-push-16 {
  right: 66.66666666%;
}

.col-xs-push-17 {
  right: 70.83333333%;
}

.col-xs-push-18 {
  right: 75%;
}

.col-xs-push-19 {
  right: 79.16666666%;
}

.col-xs-push-20 {
  right: 83.33333333%;
}

.col-xs-push-21 {
  right: 87.5%;
}

.col-xs-push-22 {
  right: 91.66666666%;
}

.col-xs-push-23 {
  right: 95.83333333%;
}

.col-xs-push-24 {
  right: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 4.16666666%;
}

.col-xs-offset-2 {
  margin-left: 8.33333333%;
}

.col-xs-offset-3 {
  margin-left: 12.5%;
}

.col-xs-offset-4 {
  margin-left: 16.66666666%;
}

.col-xs-offset-5 {
  margin-left: 20.83333333%;
}

.col-xs-offset-6 {
  margin-left: 25%;
}

.col-xs-offset-7 {
  margin-left: 29.16666666%;
}

.col-xs-offset-8 {
  margin-left: 33.33333333%;
}

.col-xs-offset-9 {
  margin-left: 37.5%;
}

.col-xs-offset-10 {
  margin-left: 41.66666666%;
}

.col-xs-offset-11 {
  margin-left: 45.83333333%;
}

.col-xs-offset-12 {
  margin-left: 50%;
}

.col-xs-offset-13 {
  margin-left: 54.16666666%;
}

.col-xs-offset-14 {
  margin-left: 58.33333333%;
}

.col-xs-offset-15 {
  margin-left: 62.5%;
}

.col-xs-offset-16 {
  margin-left: 66.66666666%;
}

.col-xs-offset-17 {
  margin-left: 70.83333333%;
}

.col-xs-offset-18 {
  margin-left: 75%;
}

.col-xs-offset-19 {
  margin-left: 79.16666666%;
}

.col-xs-offset-20 {
  margin-left: 83.33333333%;
}

.col-xs-offset-21 {
  margin-left: 87.5%;
}

.col-xs-offset-22 {
  margin-left: 91.66666666%;
}

.col-xs-offset-23 {
  margin-left: 95.83333333%;
}

.col-xs-offset-24 {
  margin-left: 100%;
}

/* sm */

@media (min-width: 768px) {
  .col-sm-0 {
    width: 0;
  }

  .col-sm-1 {
    width: 4.16666666%;
  }

  .col-sm-2 {
    width: 8.33333333%;
  }

  .col-sm-3 {
    width: 12.5%;
  }

  .col-sm-4 {
    width: 16.66666666%;
  }

  .col-sm-5 {
    width: 20.83333333%;
  }

  .col-sm-6 {
    width: 25%;
  }

  .col-sm-7 {
    width: 29.16666666%;
  }

  .col-sm-8 {
    width: 33.33333333%;
  }

  .col-sm-9 {
    width: 37.5%;
  }

  .col-sm-10 {
    width: 41.66666666%;
  }

  .col-sm-11 {
    width: 45.83333333%;
  }

  .col-sm-12 {
    width: 50%;
  }

  .col-sm-13 {
    width: 54.16666666%;
  }

  .col-sm-14 {
    width: 58.33333333%;
  }

  .col-sm-15 {
    width: 62.5%;
  }

  .col-sm-16 {
    width: 66.66666666%;
  }

  .col-sm-17 {
    width: 70.83333333%;
  }

  .col-sm-18 {
    width: 75%;
  }

  .col-sm-19 {
    width: 79.16666666%;
  }

  .col-sm-20 {
    width: 83.33333333%;
  }

  .col-sm-21 {
    width: 87.5%;
  }

  .col-sm-22 {
    width: 91.66666666%;
  }

  .col-sm-23 {
    width: 95.83333333%;
  }

  .col-sm-24 {
    width: 100%;
  }

  /* 向左偏移 */


  .col-sm-pull-1 {
    right: 4.16666666%;
  }

  .col-sm-pull-2 {
    right: 8.33333333%;
  }

  .col-sm-pull-3 {
    right: 12.5%;
  }

  .col-sm-pull-4 {
    right: 16.66666666%;
  }

  .col-sm-pull-5 {
    right: 20.83333333%;
  }

  .col-sm-pull-6 {
    right: 25%;
  }

  .col-sm-pull-7 {
    right: 29.16666666%;
  }

  .col-sm-pull-8 {
    right: 33.33333333%;
  }

  .col-sm-pull-9 {
    right: 37.5%;
  }

  .col-sm-pull-10 {
    right: 41.66666666%;
  }

  .col-sm-pull-11 {
    right: 45.83333333%;
  }

  .col-sm-pull-12 {
    right: 50%;
  }

  .col-sm-pull-13 {
    right: 54.16666666%;
  }

  .col-sm-pull-14 {
    right: 58.33333333%;
  }

  .col-sm-pull-15 {
    right: 62.5%;
  }

  .col-sm-pull-16 {
    right: 66.66666666%;
  }

  .col-sm-pull-17 {
    right: 70.83333333%;
  }

  .col-sm-pull-18 {
    right: 75%;
  }

  .col-sm-pull-19 {
    right: 79.16666666%;
  }

  .col-sm-pull-20 {
    right: 83.33333333%;
  }

  .col-sm-pull-21 {
    right: 87.5%;
  }

  .col-sm-pull-22 {
    right: 91.66666666%;
  }

  .col-sm-pull-23 {
    right: 95.83333333%;
  }

  .col-sm-pull-24 {
    right: 100%;
  }

  /* 向右偏移 */


  .col-sm-push-1 {
    right: 4.16666666%;
  }

  .col-sm-push-2 {
    right: 8.33333333%;
  }

  .col-sm-push-3 {
    right: 12.5%;
  }

  .col-sm-push-4 {
    right: 16.66666666%;
  }

  .col-sm-push-5 {
    right: 20.83333333%;
  }

  .col-sm-push-6 {
    right: 25%;
  }

  .col-sm-push-7 {
    right: 29.16666666%;
  }

  .col-sm-push-8 {
    right: 33.33333333%;
  }

  .col-sm-push-9 {
    right: 37.5%;
  }

  .col-sm-push-10 {
    right: 41.66666666%;
  }

  .col-sm-push-11 {
    right: 45.83333333%;
  }

  .col-sm-push-12 {
    right: 50%;
  }

  .col-sm-push-13 {
    right: 54.16666666%;
  }

  .col-sm-push-14 {
    right: 58.33333333%;
  }

  .col-sm-push-15 {
    right: 62.5%;
  }

  .col-sm-push-16 {
    right: 66.66666666%;
  }

  .col-sm-push-17 {
    right: 70.83333333%;
  }

  .col-sm-push-18 {
    right: 75%;
  }

  .col-sm-push-19 {
    right: 79.16666666%;
  }

  .col-sm-push-20 {
    right: 83.33333333%;
  }

  .col-sm-push-21 {
    right: 87.5%;
  }

  .col-sm-push-22 {
    right: 91.66666666%;
  }

  .col-sm-push-23 {
    right: 95.83333333%;
  }

  .col-sm-push-24 {
    right: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 4.16666666%;
  }

  .col-sm-offset-2 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 12.5%;
  }

  .col-sm-offset-4 {
    margin-left: 16.66666666%;
  }

  .col-sm-offset-5 {
    margin-left: 20.83333333%;
  }

  .col-sm-offset-6 {
    margin-left: 25%;
  }

  .col-sm-offset-7 {
    margin-left: 29.16666666%;
  }

  .col-sm-offset-8 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 37.5%;
  }

  .col-sm-offset-10 {
    margin-left: 41.66666666%;
  }

  .col-sm-offset-11 {
    margin-left: 45.83333333%;
  }

  .col-sm-offset-12 {
    margin-left: 50%;
  }

  .col-sm-offset-13 {
    margin-left: 54.16666666%;
  }

  .col-sm-offset-14 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-15 {
    margin-left: 62.5%;
  }

  .col-sm-offset-16 {
    margin-left: 66.66666666%;
  }

  .col-sm-offset-17 {
    margin-left: 70.83333333%;
  }

  .col-sm-offset-18 {
    margin-left: 75%;
  }

  .col-sm-offset-19 {
    margin-left: 79.16666666%;
  }

  .col-sm-offset-20 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-21 {
    margin-left: 87.5%;
  }

  .col-sm-offset-22 {
    margin-left: 91.66666666%;
  }

  .col-sm-offset-23 {
    margin-left: 95.83333333%;
  }

  .col-sm-offset-24 {
    margin-left: 100%;
  }

}

/* md */
@media (min-width: 992px) {
  .col-md-0 {
    width: 0;
  }

  .col-md-1 {
    width: 4.16666666%;
  }

  .col-md-2 {
    width: 8.33333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.66666666%;
  }

  .col-md-5 {
    width: 20.83333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.16666666%;
  }

  .col-md-8 {
    width: 33.33333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.66666666%;
  }

  .col-md-11 {
    width: 45.83333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.16666666%;
  }

  .col-md-14 {
    width: 58.33333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.66666666%;
  }

  .col-md-17 {
    width: 70.83333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.16666666%;
  }

  .col-md-20 {
    width: 83.33333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.66666666%;
  }

  .col-md-23 {
    width: 95.83333333%;
  }

  .col-md-24 {
    width: 100%;
  }

  /* 向左偏移 */


  .col-md-pull-1 {
    right: 4.16666666%;
  }

  .col-md-pull-2 {
    right: 8.33333333%;
  }

  .col-md-pull-3 {
    right: 12.5%;
  }

  .col-md-pull-4 {
    right: 16.66666666%;
  }

  .col-md-pull-5 {
    right: 20.83333333%;
  }

  .col-md-pull-6 {
    right: 25%;
  }

  .col-md-pull-7 {
    right: 29.16666666%;
  }

  .col-md-pull-8 {
    right: 33.33333333%;
  }

  .col-md-pull-9 {
    right: 37.5%;
  }

  .col-md-pull-10 {
    right: 41.66666666%;
  }

  .col-md-pull-11 {
    right: 45.83333333%;
  }

  .col-md-pull-12 {
    right: 50%;
  }

  .col-md-pull-13 {
    right: 54.16666666%;
  }

  .col-md-pull-14 {
    right: 58.33333333%;
  }

  .col-md-pull-15 {
    right: 62.5%;
  }

  .col-md-pull-16 {
    right: 66.66666666%;
  }

  .col-md-pull-17 {
    right: 70.83333333%;
  }

  .col-md-pull-18 {
    right: 75%;
  }

  .col-md-pull-19 {
    right: 79.16666666%;
  }

  .col-md-pull-20 {
    right: 83.33333333%;
  }

  .col-md-pull-21 {
    right: 87.5%;
  }

  .col-md-pull-22 {
    right: 91.66666666%;
  }

  .col-md-pull-23 {
    right: 95.83333333%;
  }

  .col-md-pull-24 {
    right: 100%;
  }

  /* 向右偏移 */


  .col-md-push-1 {
    right: 4.16666666%;
  }

  .col-md-push-2 {
    right: 8.33333333%;
  }

  .col-md-push-3 {
    right: 12.5%;
  }

  .col-md-push-4 {
    right: 16.66666666%;
  }

  .col-md-push-5 {
    right: 20.83333333%;
  }

  .col-md-push-6 {
    right: 25%;
  }

  .col-md-push-7 {
    right: 29.16666666%;
  }

  .col-md-push-8 {
    right: 33.33333333%;
  }

  .col-md-push-9 {
    right: 37.5%;
  }

  .col-md-push-10 {
    right: 41.66666666%;
  }

  .col-md-push-11 {
    right: 45.83333333%;
  }

  .col-md-push-12 {
    right: 50%;
  }

  .col-md-push-13 {
    right: 54.16666666%;
  }

  .col-md-push-14 {
    right: 58.33333333%;
  }

  .col-md-push-15 {
    right: 62.5%;
  }

  .col-md-push-16 {
    right: 66.66666666%;
  }

  .col-md-push-17 {
    right: 70.83333333%;
  }

  .col-md-push-18 {
    right: 75%;
  }

  .col-md-push-19 {
    right: 79.16666666%;
  }

  .col-md-push-20 {
    right: 83.33333333%;
  }

  .col-md-push-21 {
    right: 87.5%;
  }

  .col-md-push-22 {
    right: 91.66666666%;
  }

  .col-md-push-23 {
    right: 95.83333333%;
  }

  .col-md-push-24 {
    right: 100%;
  }

  .col-md-offset-1 {
    margin-left: 4.16666666%;
  }

  .col-md-offset-2 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 12.5%;
  }

  .col-md-offset-4 {
    margin-left: 16.66666666%;
  }

  .col-md-offset-5 {
    margin-left: 20.83333333%;
  }

  .col-md-offset-6 {
    margin-left: 25%;
  }

  .col-md-offset-7 {
    margin-left: 29.16666666%;
  }

  .col-md-offset-8 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 37.5%;
  }

  .col-md-offset-10 {
    margin-left: 41.66666666%;
  }

  .col-md-offset-11 {
    margin-left: 45.83333333%;
  }

  .col-md-offset-12 {
    margin-left: 50%;
  }

  .col-md-offset-13 {
    margin-left: 54.16666666%;
  }

  .col-md-offset-14 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-15 {
    margin-left: 62.5%;
  }

  .col-md-offset-16 {
    margin-left: 66.66666666%;
  }

  .col-md-offset-17 {
    margin-left: 70.83333333%;
  }

  .col-md-offset-18 {
    margin-left: 75%;
  }

  .col-md-offset-19 {
    margin-left: 79.16666666%;
  }

  .col-md-offset-20 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-21 {
    margin-left: 87.5%;
  }

  .col-md-offset-22 {
    margin-left: 91.66666666%;
  }

  .col-md-offset-23 {
    margin-left: 95.83333333%;
  }

  .col-md-offset-24 {
    margin-left: 100%;
  }

}

/* lg */
@media (min-width: 1200px) {
  .col-lg-0 {
    width: 0;
  }

  .col-lg-1 {
    width: 4.16666666%;
  }

  .col-lg-2 {
    width: 8.33333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.66666666%;
  }

  .col-lg-5 {
    width: 20.83333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.16666666%;
  }

  .col-lg-8 {
    width: 33.33333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.66666666%;
  }

  .col-lg-11 {
    width: 45.83333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.16666666%;
  }

  .col-lg-14 {
    width: 58.33333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.66666666%;
  }

  .col-lg-17 {
    width: 70.83333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.16666666%;
  }

  .col-lg-20 {
    width: 83.33333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.66666666%;
  }

  .col-lg-23 {
    width: 95.83333333%;
  }

  .col-lg-24 {
    width: 100%;
  }

  /* 向左偏移 */

  .col-lg-pull-1 {
    right: 4.16666666%;
  }

  .col-lg-pull-2 {
    right: 8.33333333%;
  }

  .col-lg-pull-3 {
    right: 12.5%;
  }

  .col-lg-pull-4 {
    right: 16.66666666%;
  }

  .col-lg-pull-5 {
    right: 20.83333333%;
  }

  .col-lg-pull-6 {
    right: 25%;
  }

  .col-lg-pull-7 {
    right: 29.16666666%;
  }

  .col-lg-pull-8 {
    right: 33.33333333%;
  }

  .col-lg-pull-9 {
    right: 37.5%;
  }

  .col-lg-pull-10 {
    right: 41.66666666%;
  }

  .col-lg-pull-11 {
    right: 45.83333333%;
  }

  .col-lg-pull-12 {
    right: 50%;
  }

  .col-lg-pull-13 {
    right: 54.16666666%;
  }

  .col-lg-pull-14 {
    right: 58.33333333%;
  }

  .col-lg-pull-15 {
    right: 62.5%;
  }

  .col-lg-pull-16 {
    right: 66.66666666%;
  }

  .col-lg-pull-17 {
    right: 70.83333333%;
  }

  .col-lg-pull-18 {
    right: 75%;
  }

  .col-lg-pull-19 {
    right: 79.16666666%;
  }

  .col-lg-pull-20 {
    right: 83.33333333%;
  }

  .col-lg-pull-21 {
    right: 87.5%;
  }

  .col-lg-pull-22 {
    right: 91.66666666%;
  }

  .col-lg-pull-23 {
    right: 95.83333333%;
  }

  .col-lg-pull-24 {
    right: 100%;
  }

  /* 向右偏移 */


  .col-lg-push-1 {
    right: 4.16666666%;
  }

  .col-lg-push-2 {
    right: 8.33333333%;
  }

  .col-lg-push-3 {
    right: 12.5%;
  }

  .col-lg-push-4 {
    right: 16.66666666%;
  }

  .col-lg-push-5 {
    right: 20.83333333%;
  }

  .col-lg-push-6 {
    right: 25%;
  }

  .col-lg-push-7 {
    right: 29.16666666%;
  }

  .col-lg-push-8 {
    right: 33.33333333%;
  }

  .col-lg-push-9 {
    right: 37.5%;
  }

  .col-lg-push-10 {
    right: 41.66666666%;
  }

  .col-lg-push-11 {
    right: 45.83333333%;
  }

  .col-lg-push-12 {
    right: 50%;
  }

  .col-lg-push-13 {
    right: 54.16666666%;
  }

  .col-lg-push-14 {
    right: 58.33333333%;
  }

  .col-lg-push-15 {
    right: 62.5%;
  }

  .col-lg-push-16 {
    right: 66.66666666%;
  }

  .col-lg-push-17 {
    right: 70.83333333%;
  }

  .col-lg-push-18 {
    right: 75%;
  }

  .col-lg-push-19 {
    right: 79.16666666%;
  }

  .col-lg-push-20 {
    right: 83.33333333%;
  }

  .col-lg-push-21 {
    right: 87.5%;
  }

  .col-lg-push-22 {
    right: 91.66666666%;
  }

  .col-lg-push-23 {
    right: 95.83333333%;
  }

  .col-lg-push-24 {
    right: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 4.16666666%;
  }

  .col-lg-offset-2 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 12.5%;
  }

  .col-lg-offset-4 {
    margin-left: 16.66666666%;
  }

  .col-lg-offset-5 {
    margin-left: 20.83333333%;
  }

  .col-lg-offset-6 {
    margin-left: 25%;
  }

  .col-lg-offset-7 {
    margin-left: 29.16666666%;
  }

  .col-lg-offset-8 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 37.5%;
  }

  .col-lg-offset-10 {
    margin-left: 41.66666666%;
  }

  .col-lg-offset-11 {
    margin-left: 45.83333333%;
  }

  .col-lg-offset-12 {
    margin-left: 50%;
  }

  .col-lg-offset-13 {
    margin-left: 54.16666666%;
  }

  .col-lg-offset-14 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-15 {
    margin-left: 62.5%;
  }

  .col-lg-offset-16 {
    margin-left: 66.66666666%;
  }

  .col-lg-offset-17 {
    margin-left: 70.83333333%;
  }

  .col-lg-offset-18 {
    margin-left: 75%;
  }

  .col-lg-offset-19 {
    margin-left: 79.16666666%;
  }

  .col-lg-offset-20 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-21 {
    margin-left: 87.5%;
  }

  .col-lg-offset-22 {
    margin-left: 91.66666666%;
  }

  .col-lg-offset-23 {
    margin-left: 95.83333333%;
  }

  .col-lg-offset-24 {
    margin-left: 100%;
  }
}

/* xl */
@media (min-width: 1920px) {
  .col-xl-0 {
    width: 0;
  }

  .col-xl-1 {
    width: 4.16666666%;
  }

  .col-xl-2 {
    width: 8.33333333%;
  }

  .col-xl-3 {
    width: 12.5%;
  }

  .col-xl-4 {
    width: 16.66666666%;
  }

  .col-xl-5 {
    width: 20.83333333%;
  }

  .col-xl-6 {
    width: 25%;
  }

  .col-xl-7 {
    width: 29.16666666%;
  }

  .col-xl-8 {
    width: 33.33333333%;
  }

  .col-xl-9 {
    width: 37.5%;
  }

  .col-xl-10 {
    width: 41.66666666%;
  }

  .col-xl-11 {
    width: 45.83333333%;
  }

  .col-xl-12 {
    width: 50%;
  }

  .col-xl-13 {
    width: 54.16666666%;
  }

  .col-xl-14 {
    width: 58.33333333%;
  }

  .col-xl-15 {
    width: 62.5%;
  }

  .col-xl-16 {
    width: 66.66666666%;
  }

  .col-xl-17 {
    width: 70.83333333%;
  }

  .col-xl-18 {
    width: 75%;
  }

  .col-xl-19 {
    width: 79.16666666%;
  }

  .col-xl-20 {
    width: 83.33333333%;
  }

  .col-xl-21 {
    width: 87.5%;
  }

  .col-xl-22 {
    width: 91.66666666%;
  }

  .col-xl-23 {
    width: 95.83333333%;
  }

  .col-xl-24 {
    width: 100%;
  }

  /* 向左偏移 */

  .col-xl-pull-1 {
    right: 4.16666666%;
  }

  .col-xl-pull-2 {
    right: 8.33333333%;
  }

  .col-xl-pull-3 {
    right: 12.5%;
  }

  .col-xl-pull-4 {
    right: 16.66666666%;
  }

  .col-xl-pull-5 {
    right: 20.83333333%;
  }

  .col-xl-pull-6 {
    right: 25%;
  }

  .col-xl-pull-7 {
    right: 29.16666666%;
  }

  .col-xl-pull-8 {
    right: 33.33333333%;
  }

  .col-xl-pull-9 {
    right: 37.5%;
  }

  .col-xl-pull-10 {
    right: 41.66666666%;
  }

  .col-xl-pull-11 {
    right: 45.83333333%;
  }

  .col-xl-pull-12 {
    right: 50%;
  }

  .col-xl-pull-13 {
    right: 54.16666666%;
  }

  .col-xl-pull-14 {
    right: 58.33333333%;
  }

  .col-xl-pull-15 {
    right: 62.5%;
  }

  .col-xl-pull-16 {
    right: 66.66666666%;
  }

  .col-xl-pull-17 {
    right: 70.83333333%;
  }

  .col-xl-pull-18 {
    right: 75%;
  }

  .col-xl-pull-19 {
    right: 79.16666666%;
  }

  .col-xl-pull-20 {
    right: 83.33333333%;
  }

  .col-xl-pull-21 {
    right: 87.5%;
  }

  .col-xl-pull-22 {
    right: 91.66666666%;
  }

  .col-xl-pull-23 {
    right: 95.83333333%;
  }

  .col-xl-pull-24 {
    right: 100%;
  }

  /* 向右偏移 */


  .col-xl-push-1 {
    right: 4.16666666%;
  }

  .col-xl-push-2 {
    right: 8.33333333%;
  }

  .col-xl-push-3 {
    right: 12.5%;
  }

  .col-xl-push-4 {
    right: 16.66666666%;
  }

  .col-xl-push-5 {
    right: 20.83333333%;
  }

  .col-xl-push-6 {
    right: 25%;
  }

  .col-xl-push-7 {
    right: 29.16666666%;
  }

  .col-xl-push-8 {
    right: 33.33333333%;
  }

  .col-xl-push-9 {
    right: 37.5%;
  }

  .col-xl-push-10 {
    right: 41.66666666%;
  }

  .col-xl-push-11 {
    right: 45.83333333%;
  }

  .col-xl-push-12 {
    right: 50%;
  }

  .col-xl-push-13 {
    right: 54.16666666%;
  }

  .col-xl-push-14 {
    right: 58.33333333%;
  }

  .col-xl-push-15 {
    right: 62.5%;
  }

  .col-xl-push-16 {
    right: 66.66666666%;
  }

  .col-xl-push-17 {
    right: 70.83333333%;
  }

  .col-xl-push-18 {
    right: 75%;
  }

  .col-xl-push-19 {
    right: 79.16666666%;
  }

  .col-xl-push-20 {
    right: 83.33333333%;
  }

  .col-xl-push-21 {
    right: 87.5%;
  }

  .col-xl-push-22 {
    right: 91.66666666%;
  }

  .col-xl-push-23 {
    right: 95.83333333%;
  }

  .col-xl-push-24 {
    right: 100%;
  }

  .col-xl-offset-1 {
    margin-left: 4.16666666%;
  }

  .col-xl-offset-2 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-3 {
    margin-left: 12.5%;
  }

  .col-xl-offset-4 {
    margin-left: 16.66666666%;
  }

  .col-xl-offset-5 {
    margin-left: 20.83333333%;
  }

  .col-xl-offset-6 {
    margin-left: 25%;
  }

  .col-xl-offset-7 {
    margin-left: 29.16666666%;
  }

  .col-xl-offset-8 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-9 {
    margin-left: 37.5%;
  }

  .col-xl-offset-10 {
    margin-left: 41.66666666%;
  }

  .col-xl-offset-11 {
    margin-left: 45.83333333%;
  }

  .col-xl-offset-12 {
    margin-left: 50%;
  }

  .col-xl-offset-13 {
    margin-left: 54.16666666%;
  }

  .col-xl-offset-14 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-15 {
    margin-left: 62.5%;
  }

  .col-xl-offset-16 {
    margin-left: 66.66666666%;
  }

  .col-xl-offset-17 {
    margin-left: 70.83333333%;
  }

  .col-xl-offset-18 {
    margin-left: 75%;
  }

  .col-xl-offset-19 {
    margin-left: 79.16666666%;
  }

  .col-xl-offset-20 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-21 {
    margin-left: 87.5%;
  }

  .col-xl-offset-22 {
    margin-left: 91.66666666%;
  }

  .col-xl-offset-23 {
    margin-left: 95.83333333%;
  }

  .col-xl-offset-24 {
    margin-left: 100%;
  }
}.fl{float:left}.fr{float:right}.cf::after{display:block;width:0;height:0;content:"";clear:both}#app{position:relative}#app .header{position:absolute;top:0;left:0;right:0;height:74px;background:transparent;color:#fff;z-index:99}#app .header.fix{position:fixed;height:58px;background:rgba(31,34,53,0.9)}#app .header.fix .logo{height:58px}#app .header.fix .box{height:58px}#app .header .logo{position:relative;height:74px;text-align:center;overflow:hidden}#app .header .logo .a{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100px;height:50px;background-size:100% 100%}#app .header .box{height:74px;display:table-cell;vertical-align:middle}#app .header .box .nav-box{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;flex-wrap:nowrap}#app .header .box .nav-box .nav-box-item{position:relative;height:40px;margin:0 20px}#app .header .box .nav-box .nav-box-item:hover .a,#app .header .box .nav-box .nav-box-item.active .a{color:#ffc576}#app .header .box .nav-box .nav-box-item:hover .line,#app .header .box .nav-box .nav-box-item.active .line{width:100%;-webkit-transition:width .5s;transition:width .5s}#app .header .box .nav-box .nav-box-item .a{display:block;height:30px;line-height:30px;font-size:16px;color:#fff;text-align:center}#app .header .box .nav-box .nav-box-item .line{width:0;height:2px;margin:4px auto 0;background-color:#ffc576;-webkit-transition:width .2s;transition:width .2s}#app .section-1{background-size:100% 100%;background-position:center}#app .section-1 .left{max-width:450px;padding:0 20px;margin:150px auto 0;overflow:hidden}#app .section-1 .left .title-1{line-height:30px;font-size:26px;font-weight:normal;font-style:normal;color:#edbd68}#app .section-1 .left .title-2{max-width:400px;line-height:90px;font-size:66px;font-weight:normal;font-style:normal;color:#ffffff}#app .section-1 .left .title-3{line-height:24px;margin-top:4px;font-size:14px;font-weight:normal;font-style:normal;color:#ffffff}#app .section-1 .left .line{height:1px;margin:20px;background-color:#363857}#app .section-1 .left .introduce{max-width:450px;line-height:26px;font-size:16px;color:#5a668f}#app .section-1 .right{position:relative;min-height:660px;padding:0 20px;text-align:center}#app .section-1 .right .img{position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);max-width:100%;padding-top:80px}#app .section-2{border-top:1px solid #555a73;background-color:#1f2235}#app .section-2 .title .box{width:100%}#app .section-2 .title .box .list-box{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;flex-wrap:nowrap;-webkit-box-pack:justify;justify-content:space-between;height:62px;margin:0 auto}#app .section-2 .title .box .list-box .lis-box-item{width:25%;height:62px;line-height:62px}#app .section-2 .title .box .list-box .lis-box-item:hover .a,#app .section-2 .title .box .list-box .lis-box-item.active .a{background-color:#313552;color:#ffc576}#app .section-2 .title .box .list-box .lis-box-item:first-child .a{border-left:1px solid #555a73}#app .section-2 .title .box .list-box .lis-box-item .a{display:block;width:100%;height:100%;border-right:1px solid #555a73;font-size:16px;color:#fff;text-align:center}#app .section-2 .body .box .list-box{padding:50px 30px;border-radius:8px;background-color:#313552}#app .section-2 .body .box .list-box .lis-box-item-1 .left{position:relative;min-height:400px}#app .section-2 .body .box .list-box .lis-box-item-1 .left .img{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:80%;height:80%}#app .section-2 .body .box .list-box .lis-box-item-1 .right{padding:70px 10px 0 50px;vertical-align:bottom}#app .section-2 .body .box .list-box .lis-box-item-1 .right .title-1{padding-bottom:30px;font-size:24px;font-weight:normal;font-style:normal;color:#ffc576}#app .section-2 .body .box .list-box .lis-box-item-1 .right .title-1 span{font-size:18px;color:#fff}#app .section-2 .body .box .list-box .lis-box-item-1 .right .title-2{line-height:44px;font-size:14px;color:#eaeaea}#app .section-3{padding:80px 0 0;background-color:#1f2235}#app .section-3 .box .title{padding-left:20px}#app .section-3 .box .title .title-1{line-height:40px;font-size:18px;font-weight:normal;font-style:normal;color:#ffc576}#app .section-3 .box .title .title-2{line-height:50px;font-size:38px;font-weight:normal;font-style:normal;color:#ffffff}#app .section-3 .box .body{padding:50px 0}#app .section-3 .box .body .box{border-radius:6px;box-shadow:0 2px 0 #ffc576;margin:0 10px 20px;background-color:#313552}#app .section-3 .box .body .box .img-box{max-width:400px;width:100%;height:260px;border-radius:4px;margin:0 auto;overflow:hidden}#app .section-3 .box .body .box .img-box .img{width:100%}#app .section-3 .box .body .box .text-box{margin:o auto;overflow:hidden}#app .section-3 .box .body .box .text-box .body{max-width:294px;padding:0;margin:10px auto 0}#app .section-3 .box .body .box .text-box .body .title-1{line-height:34px;font-size:14px;font-weight:normal;font-style:normal;color:#ffc576}#app .section-3 .box .body .box .text-box .body .title-2{padding:8px 0;line-height:40px;font-size:22px;font-weight:normal;font-style:normal;color:#ffffff}#app .section-3 .box .body .box .text-box .body .title-3{height:90px;line-height:30px;max-height:90px;font-size:14px;color:#fff;overflow:hidden}#app .section-3 .box .body .box .text-box .body .btn{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;flex-wrap:nowrap;-webkit-box-pack:justify;justify-content:space-between;margin:30px 0}#app .section-3 .box .body .box .text-box .body .btn .a{width:120px;height:42px;line-height:42px;border:1px solid rgba(255,255,118,0.5);border-radius:4px;font-size:14px;font-weight:bold;letter-spacing:4px;color:#ffc576;text-align:center}#app .section-3 .box .body .box .text-box .body .btn .a:hover{border:1px solid #ffff76}#app .footer{padding:80px 0;border-top:1px solid #555a73;background-color:#23273c}#app .footer .title-1{padding:10px 0 0;line-height:30px;font-size:18px;font-weight:normal;font-style:normal;color:#ffc576;text-align:center}#app .footer .title-2{padding:10px 0 0;line-height:46px;font-size:38px;font-weight:normal;font-style:normal;color:#ffffff;text-align:center}#app .footer .content{padding-top:40px}#app .footer .content .box{position:relative;height:80px;text-align:center;color:#fff}#app .footer .content .box .img{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:100px;height:50px;background-size:100% 100%}#app .footer .content .box .phone{line-height:40px;font-size:16px;color:#fff}#app .footer .content .box .email{line-height:40px;font-size:16px;color:#fff}#app .footer .content .box .list-box{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);margin:0 auto;font-size:0;white-space:nowrap}#app .footer .content .box .list-box .list-box-item{display:inline-block;margin:0 5px;width:32px;height:32px;background-size:736px 224px;background-repeat:no-repeat}#app .footer .content .box .list-box .list-box-item:hover{cursor:pointer}#app .footer .content .box .list-box .list-box-item:nth-of-type(1){background-position:0 -128px}#app .footer .content .box .list-box .list-box-item:nth-of-type(1):hover{background-position:0 -192px}#app .footer .content .box .list-box .list-box-item:nth-of-type(2){background-position:-64px -128px}#app .footer .content .box .list-box .list-box-item:nth-of-type(2):hover{background-position:-64px -192px}#app .footer .content .box .list-box .list-box-item:nth-of-type(3){background-position:0 -128px}#app .footer .content .box .list-box .list-box-item:nth-of-type(3):hover{background-position:0 -192px}#app .footer .content .box .list-box .list-box-item:nth-of-type(4){background-position:-448px -128px}#app .footer .content .box .list-box .list-box-item:nth-of-type(4):hover{background-position:-448px -192px}#app .footer .content .box .list-box .list-box-item .a{position:relative;display:block;width:32px;height:32px;background-size:736px 224px;background-repeat:no-repeat}#app .footer .copyright{padding:40px 0 0;line-height:30px;font-size:14px;color:#fff;text-align:center}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2Nzcy9pbmRleC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/